.grid-container {

  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 90%;
  margin: 2rem auto 2rem auto;
  width: 90%;
  max-width: 1000px;
  border-style: double;
  height: 90%;
  max-height: 900px;
  background-color:   darkseagreen;
  text-align: center;
  
}
.thumbnails {
  max-height: 900px;
  overflow-y: auto;
}
.previewAndInput {
  display: grid;
  grid-template-rows: 3fr 1fr;
  border-left-style: double;
  background-color:   darkseagreen;
}
.preview{
  border-bottom-style: double;
  background-color:   darkseagreen;
}
.thumbnails img {
  max-width: 100%;
}